<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tex_monster10_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{75,0},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{150,0},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{0,67},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{75,67},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{150,67},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{0,134},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{75,134},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{150,134},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{0,201},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{75,201},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{150,201},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{0,273},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{80,273},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{160,273},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{0,345},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{80,345},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{160,345},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{0,417},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{80,417},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{160,417},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{0,489},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_death1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{80,489},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_idle1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,66}</string>
                <key>spriteSourceSize</key>
                <string>{57,66}</string>
                <key>textureRect</key>
                <string>{{160,489},{57,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_idle1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,63}</string>
                <key>spriteSourceSize</key>
                <string>{55,63}</string>
                <key>textureRect</key>
                <string>{{0,561},{55,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_idle1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{56,62}</string>
                <key>textureRect</key>
                <string>{{55,561},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_idle1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{111,561},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_idle1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{168,561},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_idle1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{0,624},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_idle1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{57,624},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_idle1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{114,624},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_walk1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{170,624},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_walk1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,63}</string>
                <key>spriteSourceSize</key>
                <string>{55,63}</string>
                <key>textureRect</key>
                <string>{{0,688},{55,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_walk1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,65}</string>
                <key>spriteSourceSize</key>
                <string>{57,65}</string>
                <key>textureRect</key>
                <string>{{55,688},{57,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_walk1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,65}</string>
                <key>spriteSourceSize</key>
                <string>{57,65}</string>
                <key>textureRect</key>
                <string>{{112,688},{57,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_walk1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,61}</string>
                <key>spriteSourceSize</key>
                <string>{56,61}</string>
                <key>textureRect</key>
                <string>{{169,688},{56,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_walk1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{0,753},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_walk1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{56,62}</string>
                <key>textureRect</key>
                <string>{{61,753},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_monster10_walk1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,63}</string>
                <key>spriteSourceSize</key>
                <string>{55,63}</string>
                <key>textureRect</key>
                <string>{{117,753},{55,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster1.png</string>
            <key>size</key>
            <string>{240,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7af672cfe74b4184fa1db5496344882:c109539dcf4b2a6768b7dbc8bc2b622b:a883e8420f31a0138985457757d94c24$</string>
            <key>textureFileName</key>
            <string>monster1.png</string>
        </dict>
    </dict>
</plist>
