<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tex_hero2_command2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,83}</string>
                <key>spriteSourceSize</key>
                <string>{49,83}</string>
                <key>textureRect</key>
                <string>{{136,0},{49,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,83}</string>
                <key>spriteSourceSize</key>
                <string>{54,83}</string>
                <key>textureRect</key>
                <string>{{52,89},{54,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{60,89}</string>
                <key>textureRect</key>
                <string>{{413,246},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,89}</string>
                <key>spriteSourceSize</key>
                <string>{59,89}</string>
                <key>textureRect</key>
                <string>{{445,89},{59,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,89}</string>
                <key>spriteSourceSize</key>
                <string>{52,89}</string>
                <key>textureRect</key>
                <string>{{383,0},{52,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,88}</string>
                <key>spriteSourceSize</key>
                <string>{49,88}</string>
                <key>textureRect</key>
                <string>{{185,0},{49,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{0,178},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{59,178},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{435,0},{52,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{0,89},{52,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,89}</string>
                <key>spriteSourceSize</key>
                <string>{46,89}</string>
                <key>textureRect</key>
                <string>{{90,0},{46,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,89}</string>
                <key>spriteSourceSize</key>
                <string>{45,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,89}</string>
                <key>spriteSourceSize</key>
                <string>{45,89}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{283,0},{50,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{118,178},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_command_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{177,178},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_death1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{271,89},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_death1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,27}</string>
                <key>spriteSourceSize</key>
                <string>{78,27}</string>
                <key>textureRect</key>
                <string>{{423,471},{78,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_death1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,30}</string>
                <key>spriteSourceSize</key>
                <string>{81,30}</string>
                <key>textureRect</key>
                <string>{{0,539},{81,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{0,335},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,68}</string>
                <key>spriteSourceSize</key>
                <string>{57,68}</string>
                <key>textureRect</key>
                <string>{{214,89},{57,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{58,68}</string>
                <key>textureRect</key>
                <string>{{329,89},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{60,335},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{120,335},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{236,178},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{295,178},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{354,178},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{180,335},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_reload_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{240,335},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_reload_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{300,335},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_reload_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,67}</string>
                <key>spriteSourceSize</key>
                <string>{54,67}</string>
                <key>textureRect</key>
                <string>{{106,89},{54,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_reload_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,66}</string>
                <key>spriteSourceSize</key>
                <string>{49,66}</string>
                <key>textureRect</key>
                <string>{{234,0},{49,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_reload_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{360,335},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_reload_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{240,471},{61,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_reload_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{413,178},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_reload_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{420,335},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{0,403},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{60,403},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{0,246},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{387,89},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{59,246},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{120,403},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{301,471},{61,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{180,403},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_reload_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{240,403},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_reload_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{300,403},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_reload_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,65}</string>
                <key>spriteSourceSize</key>
                <string>{54,65}</string>
                <key>textureRect</key>
                <string>{{160,89},{54,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_reload_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{333,0},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_reload_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{360,403},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_reload_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{362,471},{61,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_reload_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{118,246},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_run_reload_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{420,403},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{0,471},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{60,471},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{177,246},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{236,246},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{295,246},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{354,246},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{120,471},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_hero2_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{180,471},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>user.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f70439572b9abf8985f3502452399e7:8bbe75740a970a829710901b62d49d33:7e150e0b0db755046d220adcff554d41$</string>
            <key>textureFileName</key>
            <string>user.png</string>
        </dict>
    </dict>
</plist>
