<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tex_digger_attack1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,68}</string>
                <key>textureRect</key>
                <string>{{61,201},{101,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_attack1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,68}</string>
                <key>textureRect</key>
                <string>{{162,201},{101,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_attack1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,68}</string>
                <key>textureRect</key>
                <string>{{263,201},{101,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_attack1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,68}</string>
                <key>textureRect</key>
                <string>{{364,201},{101,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_attack1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,68}</string>
                <key>textureRect</key>
                <string>{{0,269},{101,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_attack1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,68}</string>
                <key>textureRect</key>
                <string>{{101,269},{101,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_build_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{202,269},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_build_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{308,269},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_build_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{0,337},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_build_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{106,337},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_build_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{212,337},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_build_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{318,337},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_build_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{0,401},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_build_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,64}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{106,401},{106,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_death1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,50}</string>
                <key>spriteSourceSize</key>
                <string>{61,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_death1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,50}</string>
                <key>spriteSourceSize</key>
                <string>{61,50}</string>
                <key>textureRect</key>
                <string>{{61,0},{61,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_death1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,50}</string>
                <key>spriteSourceSize</key>
                <string>{61,50}</string>
                <key>textureRect</key>
                <string>{{122,0},{61,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_idle1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{356,66},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_idle1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{179,133},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_idle1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{239,133},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_idle1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{299,133},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_idle1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{359,133},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_idle1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{419,133},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{416,66},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{360,0},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{420,0},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{0,133},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,67}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{0,201},{61,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{183,0},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{60,66},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{60,133},{60,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{119,66},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{242,0},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{179,66},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{120,133},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{238,66},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{301,0},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex_digger_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,67}</string>
                <key>textureRect</key>
                <string>{{297,66},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spadeMan.png</string>
            <key>size</key>
            <string>{512,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91047c0f08e3c3c6f1e972928cbe33da:1bc3440abc3d991970b82a0e138df6db:b2a9f27452788878a8943779dda4e971$</string>
            <key>textureFileName</key>
            <string>spadeMan.png</string>
        </dict>
    </dict>
</plist>
